body {
  font-family: sans-serif;
}

input {
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
}

button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}

.input-area {
  background-color: antiquewhite;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: cornsilk;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: coral;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666666;
}

.list-row {
  display: flex;
  align-items: center;
}

li {
  margin-right: 8px;
}
